<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  </head>
  <body class="font-mono">

    {{template "header"}}

    <button class="btn" hx-post="/load"
                        hx-target="#cpuinfo"
                        hx-swap="outerHTML">Load</button>

    <button class="btn" hx-post="/step"
                        hx-target="#cpuinfo"
                        hx-swap="outerHTML">Step</button>

    <div id="cpuinfo"></div>

  </body>
</html>